body {
    padding-top: 50px;
    background-color: #fefdea;

}

th {
    text-align: center;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.modal-body > input {
    margin-bottom: 20px;
}

/*
    Media query
*/

@media(min-width: 768px) {
    .navbar-inverse{
        background-color: #343434;

    }
    .navbar-nav a{
        font-size:1.1em;
    }

    .navbar-inverse .navbar-nav>.active>a,
    .navbar-inverse .navbar-nav>.active>a:focus,
    .navbar-inverse .navbar-nav>.active>a:hover {

        background-color:#232323;
        color:#fefdea;
    }
}